<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">

<body>

	<footer class="bg-secondary p-4 mt-5 text-center text-light" th:fragment="footer">
		<div class="footer-5">
			<div class="newsletter">
				
				<div class="content-81">
					<span class="join-our-newsletter">
						Joigner notre news letter
					</span>
					<span class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit">
						Pour ne rien manquer de vos séminaire.
					</span>
				</div>
				
				<div class="actions">
					
						<form >
							
							<input class=" form-control " />

							
								<button class="button btn btn-dark mt-3">
									Subscribe
								</button>
							

						</form>



					

				</div>
			</div>
			<div class="links">
				<div class="column-82">
					<img class="vector-117" />
					<img class="vector-118" />
					<img class="vector-119" />
					<img class="vector-120" />
				</div>
				<div class="column-83">
					<div class="column-one">
						Data
					</div>
					<div class="footer-links">
						<div class="link">
							<span class="link-one">
								Link One
							</span>
						</div>
						<div class="link-93">
							<span class="link-two">
								Link Two
							</span>
						</div>
						<div class="link-94">
							<span class="link-three">
								Link Three
							</span>
						</div>
						<div class="link-95">
							<span class="link-four">
								Link Four
							</span>
						</div>
						<div class="link-96">
							<span class="link-five">
								Link Five
							</span>
						</div>
					</div>
				</div>
				<div class="column-84">
					<div class="column-two">
						Maths
					</div>
					<div class="footer-links-88">
						<div class="link-97">
							<span class="link-six">
								Link Six
							</span>
						</div>
						<div class="link-98">
							<span class="link-seven">
								Link Seven
							</span>
						</div>
						<div class="link-99">
							<span class="link-eight">
								Link Eight
							</span>
						</div>
						<div class="link-100">
							<span class="link-nine">
								Link Nine
							</span>
						</div>
						<div class="link-101">
							<span class="link-ten">
								Link Ten
							</span>
						</div>
					</div>
				</div>
				<div class="column-85">
					<div class="column-three">
						Java
					</div>
					<div class="footer-links-89">
						<div class="link-102">
							<span class="link-eleven">
								Link Eleven
							</span>
						</div>
						<div class="link-103">
							<span class="link-twelve">
								Link Twelve
							</span>
						</div>
						<div class="link-104">
							<span class="link-thirteen">
								Link Thirteen
							</span>
						</div>
						<div class="link-105">
							<span class="link-fourteen">
								Link Fourteen
							</span>
						</div>
						<div class="link-106">
							<span class="link-fifteen">
								Link Fifteen
							</span>
						</div>
					</div>
				</div>
				<div class="column-86">
					<div class="column-four">
						Science sociale
					</div>
					<div class="footer-links-90">
						<div class="link-107">
							<span class="link-sixteen">
								Link Sixteen
							</span>
						</div>
						<div class="link-108">
							<span class="link-seventeen">
								Link Seventeen
							</span>
						</div>
						<div class="link-109">
							<span class="link-eighteen">
								Link Eighteen
							</span>
						</div>
						<div class="link-110">
							<span class="link-nineteen">
								Link Nineteen
							</span>
						</div>
						<div class="link-111">
							<span class="link-twenty">
								Link Twenty
							</span>
						</div>
					</div>
				</div>
				<div class="column-87">
					<div class="column-five">
						Monétaire
					</div>
					<div class="footer-links-91">
						<div class="link-112">
							<span class="link-twenty-one">
								Link Twenty One
							</span>
						</div>
						<div class="link-113">
							<span class="link-twenty-two">
								Link Twenty Two
							</span>
						</div>
						<div class="link-114">
							<span class="link-twenty-three">
								Link Twenty Three
							</span>
						</div>
						<div class="link-115">
							<span class="link-twenty-four">
								Link Twenty Four
							</span>
						</div>
						<div class="link-116">
							<span class="link-twenty-five">
								Link Twenty Five
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="credits">
				<div class="divider">
				</div>
				<div class="row">
					<div class="credits-92">
						<span class="2023-relume-all-rights-reserved">
							© 2024 Tiger_Team.
						</span>
					</div>
					<div class="social-links">
						<div class="icon-facebook">
							<img class="vector-121" />
						</div>
						<div class="icon-instagram">
							<img class="vector-122" />
						</div>
						<div class="icon-x">
							<img class="vector-123" />
						</div>
						<div class="icon-linked-in">
							<img class="vector-124" />
						</div>
						<div class="icon-youtube">
							<img class="vector-125" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>