.adresse .navbar-2 {

 background-color:#FFFFFF;
 flex :flex-row;
 justify-content:  justify-between;
 padding :16px_64px_15px_64.6px;
 width: 1440px;
 border:box-sizing-border;
}
.adresse .contact-2 {
 background-color: #FFFFFF;
 flex :flex-col ,items-center;
 padding: 112px_0_112px_0;
 width: 1440px;
 border: box-sizing-border;
}
.adresse {
 flex:flex-col,items-center;
 width: 1440px;
 border: box-sizing-border;
}
.adresse .content {
 margin: 7.5px_0_7.1px_0;
 flex :flex-row;
 width: 62.1px;
 height:fit-content;
 border: #FFFFFF;
}

