<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">

<head>
	<th:block th:insert="~{/seminaire_client/header_seminaire :: head}"></th:block>
</head>

<body>

	<th:block th:insert="~{/seminaire_client/navbar_seminaire :: header}"></th:block>
	<th:block th:insert="~{/seminaire_client/header_seminaire :: header}"></th:block>

	<main class="container-fluid">

		<div class="layout-1">
			<div class="content-142">
				<div class="section-title-143">
					<div class="subheading">
						Thèmes
					</div>
					<div class="content-145">
						<div class="heading-146">
							quelle est le thèmes?
						</div>
						<span class="text-147">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
							elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
							commodo diam libero vitae erat.
						</span>
					</div>
				</div>
				<div class="actions-144">
					<button class="button-171 btn btn-dark">
						participer
					</button>

					<div class="style-link-small-false-dark-mode-false-icon-position-trailing-172">
						<a href="#" class="button-173 btn btn-link ">
							en savoir plus
						</a>
						<span class="button-173">
							<i class="fa-thin fa-bell"></i>
						</span>
						<div class="style-link-small-false-dark-mode-false-icon-position-trailing">

								<img class="icon" />
							</div>
						</div>
					</div>
				</div>
				<div class="placeholder-image">
				</div>
			</div>
			<div class="layout-16">
				<div class="content-151">
					<div class="content-153">
						<div class="section-title-155">
							<div class="subheading-156">
								Thème
							</div>
							<div class="content-157">
								<div class="heading-160">
									quelle est votre thème
								</div>
								<span class="text-161">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
									eros
									elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla,
									ut
									commodo diam libero vitae erat.
								</span>
							</div>
						</div>
						<div class="list">
							<div class="list-item">
								<div class="icon-relume">
									<img class="vector-165" />
								</div>
								<span class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-162">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								</span>
							</div>
							<div class="list-item-158">
								<div class="icon-relume-166">
									<img class="vector-167" />
								</div>
								<span class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-163">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								</span>
							</div>
							<div class="list-item-159">
								<div class="icon-relume-168">
									<img class="vector-169" />
								</div>
								<span class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-164">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								</span>
							</div>
						</div>
					</div>
					<div class="actions-154">
						<button class="button-171 btn btn-dark">
							participer
						</button>

						<div class="style-link-small-false-dark-mode-false-icon-position-trailing-172">
							<a href="#" class="button-173 btn btn-link ">
								en savoir plus
							</a>
							<span class="button-173">
								<i class="fa-thin fa-bell"></i>
							</span>



							<div class="icon-chevron-right-174">
								<img class="icon-175" />
							</div>
						</div>
					</div>
				</div>
				<div class="placeholder-image-152">
				</div>
			</div>
			<div class="layout-138">
				<div class="content-176">
					<div class="tagline">
						Auteur
					</div>
					<div class="content-178">
						<div class="heading-179">
							Nom de l’ouvrage
						</div>
						<span class="text-180">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
							elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
							commodo
							diam libero vitae erat.
						</span>
					</div>
				</div>
				<div class="actions-177">
					<button class="button-171 btn btn-dark">
						participer
					</button>

					<div class="style-link-small-false-dark-mode-false-icon-position-trailing-172">
						<a href="#" class="button-173 btn btn-link ">
							en savoir plus
						</a>
						<span class="button-173">
							<i class="fa-thin fa-bell"></i>
						</span>
					</div>
				</div>
				<div class="portfolio-5">
					<div class="section-title-187">
						<div class="heading-189">
							Les mieux notés
						</div>
						<span class="text-190">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</span>
					</div>
					<div class="content-188">
						<div class="portfolio-list">
							<div class="card">
								<div class="placeholder-image-192">
								</div>
								<div class="content-193">
									<div class="text-196">
										<div class="heading-201">
											Project name here
										</div>
										<span class="text-202">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
											enim
											in
											eros.
										</span>
									</div>
									<div class="tags">
										<div class="tag">
											<span class="tag-one">
												Tag one
											</span>
										</div>
										<div class="tag-203">
											<span class="tag-two">
												Tag two
											</span>
										</div>
										<div class="tag-204">
											<span class="tag-three">
												Tag three
											</span>
										</div>
									</div>
									<div class="actions-197">
										<span class="button-215">
											View project
										</span>
										<div class="icon-chevron-right-216">
											<img class="icon-217" />
										</div>
									</div>
								</div>
							</div>
							<div class="card-191">
								<div class="placeholder-image-194">
								</div>
								<div class="content-195">
									<div class="text-198">
										<div class="heading-205">
											Project name here
										</div>
										<span class="text-206">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
											enim
											in
											eros.
										</span>
									</div>
									<div class="tags-199">
										<div class="tag-207">
											<span class="tag-one-210">
												Tag one
											</span>
										</div>
										<div class="tag-208">
											<span class="tag-two-211">
												Tag two
											</span>
										</div>
										<div class="tag-209">
											<span class="tag-three-212">
												Tag three
											</span>
										</div>
									</div>
									<div class="actions-200">
										<span class="button-218">
											View project
										</span>
										<div class="icon-chevron-right-219">
											<img class="icon-220" />
										</div>
									</div>
								</div>
							</div>
						</div>

							<button class="button-214 btn btn-light">
								View all
							</button>

					</div>
				</div>
				<div class="testimonial-13">
					<div class="placeholder-image-221">
					</div>
					<div class="content-222">
						<div class="stars-223">
							<img class="vector-226" />
							<img class="vector-227" />
							<img class="vector-228" />
							<img class="vector-229" />
							<img class="vector-230" />
						</div>
						<div class="quote-224">
							&#34;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
							eros
							elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
							commodo
							diam
							libero vitae erat.&#34;
						</div>
						<div class="avatar-225">
							<div class="avatar-content-231">
								<span class="text-233">
									Name Surname
								</span>
								<span class="text-234">
									Position, Company name
								</span>
							</div>
							<div class="divider-232">
							</div>
							<div class="logo-2-color-dark">
								<img class="logo" />
							</div>
						</div>
					</div>
				</div>
				<div class="testimonial-18">
					<div class="section-title">
						<div class="heading">
							Commentaires
						</div>
						<span class="text-61">
							Des avis faits par vous pour vous et nous.
						</span>
					</div>
					<div class="content">
						<div class="column">
							<div class="content-64">
								<div class="content-70">
									<div class="stars">
										<img class="vector" />
										<img class="vector-21" />
										<img class="vector-22" />
										<img class="vector-23" />
										<img class="vector-24" />
									</div>
									<span class="quote">
										&#34;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
										enim in
										eros elementum tristique. Duis cursus, mi quis viverra ornare.&#34;
									</span>
								</div>
								<div class="avatar">
									<div class="avatar-image">
									</div>
									<div class="avatar-content">
										<span class="text">
											Name Surname
										</span>
										<span class="text-25">
											Position, Company name
										</span>
									</div>
								</div>
							</div>
							<div class="content-65">
								<div class="content-71">
									<div class="stars-1">
										<img class="vector-26" />
										<img class="vector-27" />
										<img class="vector-28" />
										<img class="vector-29" />
										<img class="vector-30" />
									</div>
									<span class="quote-2">
										&#34;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
										enim in
										eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor
										interdum
										nulla, ut commodo diam libero vitae erat.&#34;
									</span>
								</div>
								<div class="avatar-72">
									<div class="avatar-image-3">
									</div>
									<div class="avatar-content-4">
										<span class="text-31">
											Name Surname
										</span>
										<span class="text-32">
											Position, Company name
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="column-62">
							<div class="content-66">
								<div class="content-73">
									<div class="stars-5">
										<img class="vector-33" />
										<img class="vector-34" />
										<img class="vector-35" />
										<img class="vector-36" />
										<img class="vector-37" />
									</div>
									<span class="quote-6">
										&#34;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
										enim in
										eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor
										interdum
										nulla, ut commodo diam libero vitae erat.&#34;
									</span>
								</div>
								<div class="avatar-74">
									<div class="avatar-image-7">
									</div>
									<div class="avatar-content-8">
										<span class="text-38">
											Name Surname
										</span>
										<span class="text-39">
											Position, Company name
										</span>
									</div>
								</div>
							</div>
							<div class="content-67">
								<div class="content-75">
									<div class="stars-9">
										<img class="vector-40" />
										<img class="vector-41" />
										<img class="vector-42" />
										<img class="vector-43" />
										<img class="vector-44" />
									</div>
									<span class="quote-10">
										&#34;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
										enim in
										eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor
										interdum
										nulla, ut commodo diam libero vitae erat.&#34;
									</span>
								</div>
								<div class="avatar-76">
									<div class="avatar-image-11">
									</div>
									<div class="avatar-content-12">
										<span class="text-45">
											Name Surname
										</span>
										<span class="text-46">
											Position, Company name
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="column-63">
							<div class="content-68">
								<div class="content-77">
									<div class="stars-13">
										<img class="vector-47" />
										<img class="vector-48" />
										<img class="vector-49" />
										<img class="vector-50" />
										<img class="vector-51" />
									</div>
									<span class="quote-14">
										&#34;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
										enim in
										eros elementum tristique. Duis cursus, mi quis viverra ornare.&#34;
									</span>
								</div>
								<div class="avatar-78">
									<div class="avatar-image-15">
									</div>
									<div class="avatar-content-16">
										<span class="text-52">
											Name Surname
										</span>
										<span class="text-53">
											Position, Company name
										</span>
									</div>
								</div>
							</div>
							<div class="content-69">
								<div class="content-79">
									<div class="stars-17">
										<img class="vector-54" />
										<img class="vector-55" />
										<img class="vector-56" />
										<img class="vector-57" />
										<img class="vector-58" />
									</div>
									<span class="quote-18">
										&#34;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
										enim in
										eros elementum tristique. Duis cursus, mi quis viverra ornare.&#34;
									</span>
								</div>
								<div class="avatar-80">
									<div class="avatar-image-19">
									</div>
									<div class="avatar-content-20">
										<span class="text-59">
											Name Surname
										</span>
										<span class="text-60">
											Position, Company name
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<th:block th:insert="~{/seminaire_client/footer_seminaire :: footer}"></th:block>
	</main>

</body>



</html>